<section id="about" class="about">
    <div class="about_container">
        <div class="about_container_perfil">
            <img class="about_container_perfil_img"
                ngSrc="assets/perfil.png"
                width="400"
                height="400"
                alt="Foto de perfil"/>
        </div>
       
        <div class="about_container_content">
            <h1 class="about_container_content_title">Sobre mim</h1>
            <P class="about_container_content_txt">Desenvolvedor Java BackEnd
                <br>
                <br>
                    Sou um entusiasta do desenvolvimento de software, apaixonado por criar e desvendar os intricados mecanismos por trás das aplicações digitais. 
                <br>
                <br>
                    Com sólido conhecimento em desenvolvimento BackEnd, especialmente em Java e frameworks como Spring MVC, estou sempre explorando novas técnicas e tendências para aprimorar minhas habilidades.
                <br>
                <br>
                    Tenho facilidade para trabalhar em grupo, agilidade para aprender novas habilidades e tecnologias, e grande adaptabilidade às mudanças. Estou sempre pronto para superar novos desafios!
                </P>
        </div>
    </div>
</section>
