<main class="main">
<header class="home_header">
    <project-header/>
</header>




<div class="projects">
    
    <h2 class="title">Implementação de Aplicação Segura com Spring Security, JWT e Criptografia de Senhas</h2>
    
    <p class="subtitle"> A segurança de uma aplicação é uma preocupação fundamental para qualquer desenvolvedor, especialmente em um ambiente onde dados sensíveis dos usuários são manipulados e armazenados. Neste artigo, vamos explorar meu projeto feito com a linguagem Java de uma API RestFull segura usando Spring Security, JSON Web Token (JWT) e criptografia de senhas.</p>
    <h2 class="subtitle">Ferramentas e frameworks utilizados</h2>
   
    <div class="container">
        
        <p class="subtitle"><span class="projects_subtitle" style="font-size: 25px;">Angular 17:<br></span> Uma versão avançada do popular 
            framework de desenvolvimento front-end, traz consigo recursos aprimorados de segurança para aplicações web. Através de medidas 
            como Content Security Policy (CSP) aprimorado, prevenção de Cross-Site Scripting (XSS) e proteção contra ataques de injeção de 
            código, fortalece a proteção das aplicações contra ameaças cibernéticas. Além disso, com a integração de módulos de autenticação 
            avançados e a capacidade de gerenciar tokens de forma segura, o Angular 17 oferece uma base sólida para o desenvolvimento de 
            aplicações seguras e confiáveis, ajudando os desenvolvedores a garantir a integridade e a proteção dos dados sensíveis dos usuários.
            <br>Anexos do projeto front end com Angular 17: </p>
        <img class="image" src="assets/projects/projeto_spring_security/Angular/Login.png" alt="Projetos" >
        <img class="image" src="assets/projects/projeto_spring_security/Angular/Login_with_error.png" alt="Projetos" >
        <img class="image" src="assets/projects/projeto_spring_security/Angular/register.png" alt="Projetos" >
        <img class="image" src="assets/projects/projeto_spring_security/Angular/register_with_error.png" alt="Projetos" >
        <img class="image" src="assets/projects/projeto_spring_security/Angular/Demo_page_Hello-world.png" alt="Projetos" >
        

    </div>
    
    <div class="container">

        <p class="subtitle"><span class="projects_subtitle" style="font-size: 25px;">Docker:<br></span> É uma plataforma que permite empacotar, distribuir 
            e executar aplicativos em ambientes isolados chamados contêineres. Em uma aplicação, o Docker desempenha um papel fundamental ao oferecer 
            isolamento de ambiente, portabilidade, gerenciamento de dependências, escalonamento horizontal e padronização de implantação. Ao utilizar 
            contêineres Docker, os desenvolvedores podem garantir que suas aplicações sejam executadas de forma consistente em diferentes ambientes, 
            simplificando o processo de desenvolvimento, implantação e operação. </p>
        
         <img class="image" src="assets/projects/projeto_spring_security/Docker/Docker_network.png" alt="Projetos" >
             
    </div>

    <div class="border">
   
        <p class="subtitle"><span class="projects_subtitle" style="font-size: 25px;">PostgreSQL:<br></span>  É amplamente reconhecido por sua segurança avançada 
            e recursos de conformidade. Com suporte nativo para criptografia de dados, controle de acesso baseado em funções e auditoria detalhada, o PostgreSQL 
            oferece uma base sólida para construir aplicações seguras. 
            
             <br> Anexos:</p>

        <img class="image" src="assets/projects/projeto_spring_security/Persistencia/Usuarios.png" alt="Projetos" >
        <img class="image" src="assets/projects/projeto_spring_security/Persistencia/Token_de_validação_por_email.png" alt="Projetos" >
        <img class="image" src="assets/projects/projeto_spring_security/Persistencia/user_data.png" alt="Projetos" >
        
        

    </div>
    
    <div class="container">

        <p class="subtitle"><span class="projects_subtitle" style="font-size: 25px;">OpenAPI:<br></span>Anteriormente conhecido como Swagger, oferece uma maneira 
            padronizada de descrever e documentar APIs RESTful. Uma documentação clara e abrangente não apenas ajuda os desenvolvedores a entenderem como interagir 
            com sua API, mas também pode ser uma ferramenta valiosa para identificar possíveis pontos fracos de segurança. Ao documentar corretamente os endpoints, 
            os parâmetros aceitos e as respostas esperadas, você pode garantir que sua API esteja configurada de maneira segura desde o início. </p>
        
            <img class="image" src="assets/projects/projeto_spring_security/Endpoints_Swagger/Documentation.png" alt="Projetos" >
            <img class="image" src="assets/projects/projeto_spring_security/Endpoints_Swagger/Register_endpoint.png" alt="Projetos" >
            <img class="image" src="assets/projects/projeto_spring_security/Endpoints_Swagger/Login_endpoint.png" alt="Projetos" >
            <img class="image" src="assets/projects/projeto_spring_security/Endpoints_Swagger/Email_confirmation.png" alt="Projetos" >
            <img class="image" src="assets/projects/projeto_spring_security/Endpoints_Swagger/Demo_Endpoint.png" alt="Projetos" >

        

    </div> 
    
    <div class="border">
        <p class="subtitle" >Anexo email com token de validação: </p>
        <img class="image" src="assets/projects/projeto_spring_security/Email/Email_com_Token_validatcao.png" alt="Projetos" >
    </div>




    <p class="subtitle"><span class="projects_subtitle" style="font-size: 25px;">Lombok:<br></span>É uma biblioteca que elimina a necessidade 
        de escrever código boilerplate comuns em Java, como getters, setters e construtores. Embora pareça não relacionado à segurança em primeira 
        instância, a redução de boilerplate pode, na verdade, melhorar a segurança da sua aplicação. Isso ocorre porque menos código significa 
        menos oportunidades para introduzir vulnerabilidades de segurança por meio de erros humanos. </p>
           
    <p class="subtitle"><span class="projects_subtitle" style="font-size: 25px;">Spring Security - Controle de Acesso e Autenticação Robusta: </span>
        O Spring Security é um dos frameworks de segurança mais populares para aplicações Java. Ele fornece uma variedade de recursos para autenticação, 
        autorização e proteção contra ameaças comuns, como ataques de CSRF e XSS. Ao configurar o Spring Security em sua aplicação, você pode 
        implementar facilmente controles de acesso granulares e autenticação robusta, garantindo que apenas usuários autorizados possam acessar 
        recursos protegidos. </p>

        
        <p class="subtitle"><span class="projects_subtitle" style="font-size: 25px;"> JSON Web Token (JWT) Autenticação Stateless: </span> 
            JWT é um padrão aberto que define uma maneira compacta e segura de transmitir informações entre partes como um objeto JSON. Ele é comumente 
            usado para autenticação stateless em APIs RESTful, eliminando a necessidade de armazenar tokens de sessão no servidor. Ao integrar o JWT 
            à sua aplicação, você pode fornecer autenticação segura e escalável, permitindo que os usuários autentiquem-se uma vez e acessem recursos 
            protegidos sem a necessidade de armazenar informações de sessão no servidor.</p>

            
    <p class="subtitle"><span class="projects_subtitle" style="font-size: 25px;">Criptografia de Senhas protegendo Dados Sensíveis: </span>
        A criptografia de senhas é fundamental para proteger os dados sensíveis dos usuários, especialmente em um ambiente onde senhas são armazenadas 
        em um banco de dados. Utilizando algoritmos de hash seguros, como bcrypt, você pode garantir que as senhas dos usuários sejam armazenadas de 
        forma segura e irreversível. Ao criptografar as senhas antes de armazená-las no banco de dados, você pode proteger os usuários contra acessos 
        não autorizados, mesmo no caso de uma violação de segurança. 
        <br><br>    
        Ao integrar o Spring Security, JWT e criptografia de senhas em sua aplicação, você pode criar um sistema de autenticação e controle de acesso 
        robusto e seguro. O Spring Security pode ser configurado para usar tokens JWT para autenticação stateless, enquanto a criptografia de senhas 
        garante que os dados sensíveis dos usuários sejam armazenados de forma segura no banco de dados. Juntos, esses componentes fornecem uma base 
        sólida para construir uma aplicação segura e confiável.
        <br><br>
        O sistema implementado utilizando as tecnologias mencionadas não só demonstra a importância e eficácia das práticas de segurança em aplicações 
        back-end, mas também serve como um modelo exemplar para futuros desenvolvimentos. Ao integrar ferramentas como Spring Security, JWT, Docker e 
        outras, o projeto estabelece um padrão elevado para a segurança de aplicações web, fornecendo uma base sólida e confiável para o desenvolvimento 
        de sistemas seguros e escaláveis. Com a implementação cuidadosa de medidas de segurança em todas as camadas da aplicação, os desenvolvedores 
        podem garantir não apenas a proteção dos dados dos usuários, mas também a confiabilidade e a integridade do sistema como um todo. Assim, o 
        objetivo deste projeto vai além de uma simples implementação: ele visa inspirar e orientar o desenvolvimento de futuras aplicações, 
        incentivando a adoção de práticas de segurança robustas desde o início do ciclo de desenvolvimento.
    </p>


    

    
   

</div>


<app-footer/>
</main>