<footer id="footer" class="footer">
    <div class="footer_card">
        <div class="footer_card_container">
            <span class="footer_card_container_title">Iniciar um projeto</span>
            <p class="footer_card_container_txt">Interessado em meu trabalho? Não seja timido, entre em contato.</p>
            
            <a href="https://api.whatsapp.com/send?phone=5561993144073&text=Ol%C3%A1%2C%20Vim%20atrav%C3%A9s%20de%20seu%20portif%C3%B3lio!" target="_blank">
                <button class="footer_card_container_button">
                    <img src="assets/icons/thumbs_up.svg" alt="Icon thumbs_up">
                    Vamos fazer isso
                </button>
            </a>

        </div>
    </div>

    <div class="footer_content">
        <img ngSrc="/assets/Logo.png" width="80" height="80" alt="Logo">
        
        <p class="footer_content_txt" >Criamos paginas web da maneira que você deseja, aqui tudo é possível e podemos <span>realizar!</span></p>

        <ul class="footer_content_social">
            @for (icon of socialIconList; track $index) {
                <li class="footer_content_social_icon">
                    <a [href]="icon.url" target="_blank">
                        <ng-icon [name]="icon.value" [color]="icon.color" size="2.2rem"></ng-icon>
                    </a>
                </li>
            }
        </ul>
    </div>

    <div class="footer_copy">
        <p class="footer_copy_txt"><b>Muito Obrigado pela sua visita!</b> </p>
    </div>
</footer>